.gift {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    position: relative;
    width: 100px;
}

.cover {
    width: 100px;
    height: 25px;
    background: #cc4100;
}

.body {
    width: 90px;
    height: 60px;
    background: #ac3600;
}

.tape1 {
    position: absolute;
    background: aqua;
    width: 15px;
    height: 85px;
}

.tape2 {
    position: absolute;
    top: 40px;
    width: 90px;
    height: 15px;
    background: aqua;
}